/* General
---------------------------*/
body {
    font-size: 18px;
    font-family: fantasy;
}

.wrapper {
  display: block;
  margin: 70px auto;
  width: 500px;
}

.header {
  text-align: center;
}

#game,
#options {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 50%;
}

.description {
  margin-top: 20px;
}

/* Game Board
---------------------------*/

#game .row {
  height: 32px;
}
.token {
  width: 20px;
  height: 20px;
  background-color: teal;
  border-radius: 50%;
  display: inline-block;
  margin: 4px;
}
.token.chosen {
  background-color: orange;
}
.token:hover {
  cursor: pointer;
}

/* Options
---------------------------*/

#options .row div {
  display: inline-block;
  margin: 5px 10px;
}

.opponent-choice button {
  background-color: #eee;
  display: inline-block;
  margin: 5px;
}

.opponent-choice button:focus {
  outline: none;
}

.opponent-choice button.selected {
  background-color: #771f1f;
  color: #fff;
}
