/* General
---------------------------*/
body {
    font-size: 18px;
    font-family: fantasy;
}

button {
  font-size: 18px;
  padding: 10px 15px;
  color: #fff;
  background-color: #004444;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button.chosen {
  background-color: #027383;
  color: #fff;
}

.wrapper {
  display: block;
  margin: 70px auto;
  width: 700px;
}

.header {
  text-align: center;
}

#game,
#options {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 50%;
}

.description {
  margin-top: 20px;
}

/* Game Board
---------------------------*/

.board {
  margin-bottom: 20px;
}

.board .row {
  height: 32px;
}
.token {
  width: 20px;
  height: 20px;
  background-color: teal;
  border-radius: 50%;
  display: inline-block;
  margin: 4px;
}
.token.chosen {
  background-color: orange;
}
.token:hover {
  cursor: pointer;
}

/* Options
---------------------------*/

#options .row div {
  display: inline-block;
  margin: 5px 10px;
}

.option-choices {
  margin-bottom: 20px;
}

.option-choices button {
  background-color: #777;
  display: inline-block;
  margin: 5px;
}

.option-choices button.chosen {
  background-color: #006666;
}

.difficulty-button .subtext {
  font-size: 12px;
}
